This Project is for loading and Exploring Data from Countries Dataset. The data dictionary provided with data is as follows:
* Country - Name of Countries 
* Region - Region Country belongs to 
* Population - Population of Country
* Area (sq. mi.) - Area of Country
* Pop.Density (per sq. mi.) - Popultaion Density in Country
* Coastline (coast/area ratio) - Coastline Area ratio
* Net migration - Rate at which people are migrating 
* Infant mortality (per 1000 births) - Mortality rate for Infant
* GDP  - Per Capita GDP 
* Literacy(%) - Literacy rate of Country
* Phones (per 1000) - Phone per 1000 people
* Arable (%) - Arable Area
* Crops(%)- Crops Grown
* Other(%) - Other factors
* Climate - Climatic Factory for the Country 
* Birthrate - Birthrate for the Country 
* Deathrate - Deathrate for the Country 
* Agriculture - Agriculture status
* Industry - Number of Industry in the Country 
* Service - Services Offered in the Country

Dataset can be found here : https://github.com/Ajayacme339/Datacode/blob/master/countries.csv

In [46]:
import pandas as pd
countries = pd.read_csv (r"C:\Users\ajaya\Downloads\countries.csv")
countries.head(2)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"

In [5]:
first_five = countries.head(5)
print(first_five)
first_ten = countries.head(10)
print(first_ten)

           Country                               Region  Population  \
0     Afghanistan         ASIA (EX. NEAR EAST)             31056997
1         Albania   EASTERN EUROPE                          3581655
2         Algeria   NORTHERN AFRICA                        32930091
3  American Samoa   OCEANIA                                   57794
4         Andorra   WESTERN EUROPE                            71201

   Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
0          647500                       48,0                         0,00
1           28748                      124,6                         1,26
2         2381740                       13,8                         0,04
3             199                      290,4                        58,29
4             468                      152,1                         0,00

  Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
0         23,06                             163,07               700.0
1         -4,93                              21,52              4500.0
2         -0,39                                 31              6000.0
3        -20,71                               9,27              8000.0
4           6,6                               4,05             19000.0

  Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
0         36,0               3,2      12,13      0,22     87,65       1
1         86,5              71,2      21,09      4,42     74,49       3
2         70,0              78,1       3,22      0,25     96,53       1
3         97,0             259,5         10        15        75       2
4        100,0             497,2       2,22         0     97,78       3

  Birthrate Deathrate Agriculture Industry Service
0      46,6     20,34        0,38     0,24    0,38
1     15,11      5,22       0,232    0,188   0,579
2     17,14      4,61       0,101      0,6   0,298
3     22,46      3,27         NaN      NaN     NaN
4      8,71      6,25         NaN      NaN     NaN
                Country                               Region  Population  \
217            Vanuatu   OCEANIA                                  208869
218          Venezuela               LATIN AMER. & CARIB        25730435
219            Vietnam         ASIA (EX. NEAR EAST)             84402966
220     Virgin Islands               LATIN AMER. & CARIB          108605
221  Wallis and Futuna   OCEANIA                                   16025
222          West Bank   NEAR EAST                               2460492
223     Western Sahara   NORTHERN AFRICA                          273008
224              Yemen   NEAR EAST                              21456188
225             Zambia   SUB-SAHARAN AFRICA                     11502010
226           Zimbabwe   SUB-SAHARAN AFRICA                     12236805

     Area (sq. mi.) Pop. Density (per sq. mi.) Coastline (coast/area ratio)  \
217           12200                       17,1                        20,72
218          912050                       28,2                         0,31
219          329560                      256,1                         1,05
220            1910                       56,9                         9,84
221             274                       58,5                        47,08
222            5860                      419,9                         0,00
223          266000                        1,0                         0,42
224          527970                       40,6                         0,36
225          752614                       15,3                         0,00
226          390580                       31,3                         0,00

    Net migration Infant mortality (per 1000 births)  GDP ($ per capita)  \
217             0                              55,16              2900.0
218         -0,04                               22,2              4800.0
219         -0,45                              25,95              2500.0
220         -8,94                               8,03             17200.0
221           NaN                                NaN              3700.0
222          2,98                              19,62               800.0
223           NaN                                NaN                 NaN
224             0                               61,5               800.0
225             0                              88,29               800.0
226             0                              67,69              1900.0

    Literacy (%) Phones (per 1000) Arable (%) Crops (%) Other (%) Climate  \
217         53,0              32,6       2,46      7,38     90,16       2
218         93,4             140,1       2,95      0,92     96,13       2
219         90,3             187,7      19,97      5,95     74,08       2
220          NaN             652,8      11,76      2,94      85,3       2
221         50,0             118,6          5        25        70       2
222          NaN             145,2       16,9     18,97     64,13       3
223          NaN               NaN       0,02         0     99,98       1
224         50,2              37,2       2,78      0,24     96,98       1
225         80,6               8,2       7,08      0,03      92,9       2
226         90,7              26,8       8,32      0,34     91,34       2

    Birthrate Deathrate Agriculture Industry Service
217     22,72      7,82        0,26     0,12    0,62
218     18,71      4,92        0,04    0,419   0,541
219     16,86      6,22       0,209     0,41   0,381
220     13,96      6,43        0,01     0,19     0,8
221       NaN       NaN         NaN      NaN     NaN
222     31,67      3,92        0,09     0,28    0,63
223       NaN       NaN         NaN      NaN     0,4
224     42,89       8,3       0,135    0,472   0,393
225        41     19,93        0,22     0,29   0,489
226     28,01     21,84       0,179    0,243   0,579

First five and last ten rows were printed from the countries dataframe

In [6]:
last_five = countries.tail(5)
last_seven = countries.tail(7)
print(last_five)
print(last_seven)

Last five and last seven rows were printed from the countries dataframe

In [9]:
num_countries, num_columns = countries.shape
countries.head(5)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

Number of Countries and Number of Columns were printed from the countries dataframe

In [12]:
column_names_index = countries.columns
#print(column_names_list)
column_names_list = list(column_names_index)
print(column_names_list)

['Country', 'Region', 'Population', 'Area (sq. mi.)', 'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 'Net migration', 'Infant mortality (per 1000 births)', 'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service']

Column list were printed

In [13]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [14]:
col_types = {
    col_name: countries[col_name].dtype for col_name in countries.columns
}

In [16]:
countries = countries.rename(columns = {'Original Name': 'New Name',
    'Area (sq. mi.)': 'Area',
    'Pop. Density (per sq. mi.)': 'Pop Density',
    'Coastline (coast/area ratio)': 'Coastline',
    'Net migration': 'Migration',
    'Infant mortality (per 1000 births)': 'Infant Mortality',
    'GDP ($ per capita)': 'GDP Capita',
    'Literacy (%)': 'Literacy',
    'Phones (per 1000)': 'Phones',
    'Arable (%)': 'Arable',
    'Crops (%)': 'Crops',
    'Other (%)': 'Other'})

Column names were renamed from the countries datafarme for better readibility

In [17]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           227 non-null    object
 1   Region            227 non-null    object
 2   Population        227 non-null    int64
 3   Area              227 non-null    int64
 4   Pop Density       227 non-null    object
 5   Coastline         227 non-null    object
 6   Migration         224 non-null    object
 7   Infant Mortality  224 non-null    object
 8   GDP Capita        226 non-null    float64
 9   Literacy          209 non-null    object
 10  Phones            223 non-null    object
 11  Arable            225 non-null    object
 12  Crops             225 non-null    object
 13  Other             225 non-null    object
 14  Climate           205 non-null    object
 15  Birthrate         224 non-null    object
 16  Deathrate         223 non-null    object
 17  Agriculture       212 non-null    object
 18  Industry          211 non-null    object
 19  Service           212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

In [18]:
cols_to_change = [
    'Pop Density',
    'Coastline',
    'Migration',
    'Infant Mortality',
    'Literacy',
    'Phones',
    'Arable',
    'Crops',
    'Other',
    'Climate',
    'Birthrate',
    'Deathrate',
    'Agriculture',
    'Industry',
    'Service'
]
for col in cols_to_change:
    countries[col] = countries[col].str.replace(',', '.').astype(float)

Data Cleaning was done for above mentioned columns in Countries Data Frame

In [20]:
max_pop_row = countries[countries['Population'] == countries['Population'].max()]
print(max_pop_row)

   Country                         Region  Population     Area  Pop Density  \
42  China   ASIA (EX. NEAR EAST)           1313973713  9596960        136.9

    Coastline  Migration  Infant Mortality  GDP Capita  Literacy  Phones  \
42       0.15       -0.4             24.18      5000.0      90.9   266.7

    Arable  Crops  Other  Climate  Birthrate  Deathrate  Agriculture  \
42    15.4   1.25  83.35      1.5      13.25       6.97        0.125

    Industry  Service
42     0.473    0.403

Country with max population was displayed and printed

In [21]:
min_pop_row = countries[countries['Population'] == countries['Population'].min()]
print(min_pop_row)

   Country                         Region  Population     Area  Pop Density  \
42  China   ASIA (EX. NEAR EAST)           1313973713  9596960        136.9

    Coastline  Migration  Infant Mortality  GDP Capita  Literacy  Phones  \
42       0.15       -0.4             24.18      5000.0      90.9   266.7

    Arable  Crops  Other  Climate  Birthrate  Deathrate  Agriculture  \
42    15.4   1.25  83.35      1.5      13.25       6.97        0.125

    Industry  Service
42     0.473    0.403

Country with Min population was displayed and printed

In [26]:
two_largest = countries.nlargest(2, columns=['Population'])
print(two_largest)
ratio = two_largest.iloc[0, 2] / two_largest.iloc[1, 2]
print(ratio)

   Country                         Region  Population     Area  Pop Density  \
42  China   ASIA (EX. NEAR EAST)           1313973713  9596960        136.9
94  India   ASIA (EX. NEAR EAST)           1095351995  3287590        333.2

    Coastline  Migration  Infant Mortality  GDP Capita  Literacy  Phones  \
42       0.15      -0.40             24.18      5000.0      90.9   266.7
94       0.21      -0.07             56.29      2900.0      59.5    45.4

    Arable  Crops  Other  Climate  Birthrate  Deathrate  Agriculture  \
42    15.4   1.25  83.35      1.5      13.25       6.97        0.125
94    54.4   2.74  42.86      2.5      22.01       8.18        0.186

    Industry  Service
42     0.473    0.403
94     0.276    0.538
1.1995903773380172

Two largest Country with Population ratio was displayed

In [30]:
countries_without_coast = countries[countries['Coastline']==0]
print(countries_without_coast)
num_countries_without_coast = countries_without_coast.shape[0]
print(num_countries_without_coast)

                   Country                               Region  Population  \
0             Afghanistan         ASIA (EX. NEAR EAST)             31056997
4                 Andorra   WESTERN EUROPE                            71201
9                 Armenia                  C.W. OF IND. STATES      2976372
12                Austria   WESTERN EUROPE                          8192880
13             Azerbaijan                  C.W. OF IND. STATES      7961619
18                Belarus                  C.W. OF IND. STATES     10293011
23                 Bhutan         ASIA (EX. NEAR EAST)              2279723
24                Bolivia               LATIN AMER. & CARIB         8989046
26               Botswana   SUB-SAHARAN AFRICA                      1639833
31           Burkina Faso   SUB-SAHARAN AFRICA                     13902972
33                Burundi   SUB-SAHARAN AFRICA                      8090068
39   Central African Rep.   SUB-SAHARAN AFRICA                      4303356
40                   Chad   SUB-SAHARAN AFRICA                      9944201
45       Congo, Dem. Rep.   SUB-SAHARAN AFRICA                     62660551
53         Czech Republic   EASTERN EUROPE                         10235455
65               Ethiopia   SUB-SAHARAN AFRICA                     74777981
92                Hungary   EASTERN EUROPE                          9981334
106            Kazakhstan                  C.W. OF IND. STATES     15233244
112            Kyrgyzstan                  C.W. OF IND. STATES      5213898
113                  Laos         ASIA (EX. NEAR EAST)              6368481
116               Lesotho   SUB-SAHARAN AFRICA                      2022331
119         Liechtenstein   WESTERN EUROPE                            33987
121            Luxembourg   WESTERN EUROPE                           474413
123             Macedonia   EASTERN EUROPE                          2050554
125                Malawi   SUB-SAHARAN AFRICA                     13013926
128                  Mali   SUB-SAHARAN AFRICA                     11716829
137               Moldova                  C.W. OF IND. STATES      4466706
139              Mongolia         ASIA (EX. NEAR EAST)              2832224
145                 Nepal         ASIA (EX. NEAR EAST)             28287147
151                 Niger   SUB-SAHARAN AFRICA                     12525094
160              Paraguay               LATIN AMER. & CARIB         6506464
170                Rwanda   SUB-SAHARAN AFRICA                      8648248
177            San Marino   WESTERN EUROPE                            29251
181                Serbia   EASTERN EUROPE                          9396411
185              Slovakia   EASTERN EUROPE                          5439448
194             Swaziland   SUB-SAHARAN AFRICA                      1136334
196           Switzerland   WESTERN EUROPE                          7523934
199            Tajikistan                  C.W. OF IND. STATES      7320815
207          Turkmenistan                  C.W. OF IND. STATES      5042920
210                Uganda   SUB-SAHARAN AFRICA                     28195754
216            Uzbekistan                  C.W. OF IND. STATES     27307134
222             West Bank   NEAR EAST                               2460492
225                Zambia   SUB-SAHARAN AFRICA                     11502010
226              Zimbabwe   SUB-SAHARAN AFRICA                     12236805

        Area  Pop Density  Coastline  Migration  Infant Mortality  GDP Capita  \
0     647500         48.0        0.0      23.06            163.07       700.0
4        468        152.1        0.0       6.60              4.05     19000.0
9      29800         99.9        0.0      -6.47             23.28      3500.0
12     83870         97.7        0.0       2.00              4.66     30000.0
13     86600         91.9        0.0      -4.90             81.74      3400.0
18    207600         49.6        0.0       2.54             13.37      6100.0
23     47000         48.5        0.0       0.00            100.44      1300.0
24   1098580          8.2        0.0      -1.32             53.11      2400.0
26    600370          2.7        0.0       0.00             54.58      9000.0
31    274200         50.7        0.0       0.00             97.57      1100.0
33     27830        290.7        0.0      -0.06             69.29       600.0
39    622984          6.9        0.0       0.00             91.00      1100.0
40   1284000          7.7        0.0      -0.11             93.82      1200.0
45   2345410         26.7        0.0       0.00             94.69       700.0
53     78866        129.8        0.0       0.97              3.93     15700.0
65   1127127         66.3        0.0       0.00             95.32       700.0
92     93030        107.3        0.0       0.86              8.57     13900.0
106  2717300          5.6        0.0      -3.35             29.21      6300.0
112   198500         26.3        0.0      -2.45             35.64      1600.0
113   236800         26.9        0.0       0.00             85.22      1700.0
116    30355         66.6        0.0      -0.74             84.23      3000.0
119      160        212.4        0.0       4.85              4.70     25000.0
121     2586        183.5        0.0       8.97              4.81     55100.0
123    25333         80.9        0.0      -1.45             10.09      6700.0
125   118480        109.8        0.0       0.00            103.32       600.0
128  1240000          9.5        0.0      -0.33            116.79       900.0
137    33843        132.0        0.0      -0.26             40.42      1800.0
139  1564116          1.8        0.0       0.00             53.79      1800.0
145   147181        192.2        0.0       0.00             66.98      1400.0
151  1267000          9.9        0.0      -0.67            121.69       800.0
160   406750         16.0        0.0      -0.08             25.63      4700.0
170    26338        328.4        0.0       0.00             91.23      1300.0
177       61        479.5        0.0      10.98              5.73     34600.0
181    88361        106.3        0.0      -1.33             12.89      2200.0
185    48845        111.4        0.0       0.30              7.41     13300.0
194    17363         65.5        0.0       0.00             69.27      4900.0
196    41290        182.2        0.0       4.05              4.39     32700.0
199   143100         51.2        0.0      -2.86            110.76      1000.0
207   488100         10.3        0.0      -0.86             73.08      5800.0
210   236040        119.5        0.0       0.00             67.83      1400.0
216   447400         61.0        0.0      -1.72             71.10      1700.0
222     5860        419.9        0.0       2.98             19.62       800.0
225   752614         15.3        0.0       0.00             88.29       800.0
226   390580         31.3        0.0       0.00             67.69      1900.0

     Literacy  Phones  Arable  Crops  Other  Climate  Birthrate  Deathrate  \
0        36.0     3.2   12.13   0.22  87.65      1.0      46.60      20.34
4       100.0   497.2    2.22   0.00  97.78      3.0       8.71       6.25
9        98.6   195.7   17.55   2.30  80.15      4.0      12.07       8.23
12       98.0   452.2   16.91   0.86  82.23      3.0       8.74       9.76
13       97.0   137.1   19.63   2.71  77.66      1.0      20.74       9.75
18       99.6   319.1   29.55   0.60  69.85      4.0      11.16      14.02
23       42.2    14.3    3.09   0.43  96.48      2.0      33.65      12.70
24       87.2    71.9    2.67   0.19  97.14      1.5      23.30       7.53
26       79.8    80.5    0.65   0.01  99.34      1.0      23.08      29.50
31       26.6     7.0   14.43   0.19  85.38      2.0      45.62      15.60
33       51.6     3.4   35.05  14.02  50.93      2.0      42.22      13.46
39       51.0     2.3    3.10   0.14  96.76      2.0      33.91      18.65
40       47.5     1.3    2.86   0.02  97.12      2.0      45.73      16.38
45       65.5     0.2    2.96   0.52  96.52      2.0      43.69      13.27
53       99.9   314.3   39.80   3.05  57.15      3.0       9.02      10.59
65       42.7     8.2   10.71   0.75  88.54      2.0      37.98      14.86
92       99.4   336.2   50.09   2.06  47.85      3.0       9.72      13.11
106      98.4   164.1    7.98   0.05  91.97      4.0      16.00       9.42
112      97.0    84.0    7.30   0.35  92.35      2.5      22.80       7.08
113      66.4    14.1    3.80   0.35  95.85      2.0      35.49      11.55
116      84.8    23.7   10.87   0.13  89.00      3.0      24.75      28.71
119     100.0   585.5   25.00   0.00  75.00      4.0      10.21       7.18
121     100.0   515.4   23.28   0.40  76.32      NaN      11.94       8.41
123       NaN   260.0   22.26   1.81  75.93      3.0      12.02       8.77
125      62.7     7.9   23.38   1.49  75.13      2.0      43.13      19.33
128      46.4     6.4    3.82   0.03  96.15      2.0      49.82      16.89
137      99.1   208.1   55.30  10.79  33.91      NaN      15.70      12.64
139      97.8    55.1    0.77   0.00  99.23      1.0      21.59       6.95
145      45.2    15.9   21.68   0.64  77.68      NaN      30.98       9.31
151      17.6     1.9    3.54   0.01  96.45      1.0      50.73      20.91
160      94.0    49.2    7.60   0.23  92.17      2.0      29.10       4.49
170      70.4     2.7   40.54  12.16  47.30      3.0      40.37      16.09
177      96.0   704.3   16.67   0.00  83.33      NaN      10.02       8.17
181      93.0   285.8   33.35   3.20  63.45      NaN        NaN        NaN
185       NaN   220.1   30.16   2.62  67.22      3.0      10.65       9.45
194      81.6    30.8   10.35   0.70  88.95      2.5      27.41      29.74
196      99.0   680.9   10.42   0.61  88.97      3.0       9.71       8.49
199      99.4    33.5    6.61   0.92  92.47      2.0      32.65       8.25
207      98.0    74.6    3.72   0.14  96.14      1.0      27.61       8.60
210      69.9     3.6   25.88  10.65  63.47      2.0      47.35      12.24
216      99.3    62.9   10.83   0.83  88.34      1.0      26.36       7.84
222       NaN   145.2   16.90  18.97  64.13      3.0      31.67       3.92
225      80.6     8.2    7.08   0.03  92.90      2.0      41.00      19.93
226      90.7    26.8    8.32   0.34  91.34      2.0      28.01      21.84

     Agriculture  Industry  Service
0          0.380     0.240    0.380
4            NaN       NaN      NaN
9          0.239     0.343    0.418
12         0.018     0.304    0.678
13         0.141     0.457    0.402
18         0.093     0.316    0.591
23         0.258     0.379    0.363
24         0.128     0.352    0.520
26         0.024     0.469    0.507
31         0.322     0.196    0.482
33         0.463     0.203    0.334
39         0.550     0.200    0.250
40         0.335     0.259    0.406
45         0.550     0.110    0.340
53         0.034     0.393    0.573
65         0.475     0.099    0.426
92         0.037     0.312    0.651
106        0.067     0.386    0.547
112        0.353     0.208    0.439
113        0.455     0.287    0.258
116        0.163     0.443    0.394
119        0.060     0.390    0.550
121        0.010     0.130    0.860
123        0.118     0.319    0.563
125        0.342     0.158    0.499
128        0.450     0.170    0.380
137        0.213     0.233    0.555
139        0.206     0.214    0.580
145        0.380     0.210    0.410
151        0.390     0.170    0.440
160        0.224     0.207    0.569
170        0.401     0.229    0.370
177          NaN       NaN      NaN
181        0.166     0.255    0.579
185        0.035     0.294    0.672
194        0.119     0.515    0.366
196        0.015     0.340    0.645
199        0.234     0.286    0.480
207        0.209     0.380    0.411
210        0.311     0.222    0.469
216        0.342     0.229    0.430
222        0.090     0.280    0.630
225        0.220     0.290    0.489
226        0.179     0.243    0.579
44

Countries without Coast and number of countries without Coast list was displayed

In [32]:
regions = list(countries['Region'].unique())
print(regions)

['ASIA (EX. NEAR EAST)         ', 'EASTERN EUROPE                     ', 'NORTHERN AFRICA                    ', 'OCEANIA                            ', 'WESTERN EUROPE                     ', 'SUB-SAHARAN AFRICA                 ', 'LATIN AMER. & CARIB    ', 'C.W. OF IND. STATES ', 'NEAR EAST                          ', 'NORTHERN AMERICA                   ', 'BALTICS                            ']

Unique List of region was displayed and printed frm Countries Dataframe

In [33]:
num_countries_per_region = countries['Region'].value_counts()
print(num_countries_per_region)

Region
SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
ASIA (EX. NEAR EAST)                   28
WESTERN EUROPE                         28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: count, dtype: int64

Number of Countries Per region was printed

In [36]:
average_phones_1000 = countries['Phones'].mean()
phones_per_person = average_phones_1000 / 1000

Average Phone per person was calculated and printed

In [37]:
world_population = countries['Population'].agg(sum)

Total World population by country was printed

In [38]:
countries['Pop Percent'] = 100 * countries['Population'] / countries['Population'].sum()

Population Percentage of all the countries were printed

In [39]:
top_10_populations = countries.nlargest(10, columns='Pop Percent')[['Country', 'Pop Percent']]

Top 10 Countries with Population Percentage were Displayed and printed

In [44]:
average_GDP = countries.groupby(['Region']).mean()['GDP Capita']
print(average_GDP)

TypeError: Could not convert Afghanistan Bangladesh Bhutan Brunei Burma Cambodia China East Timor Hong Kong India Indonesia Iran Japan Korea, North Korea, South Laos Macau Malaysia Maldives Mongolia Nepal Pakistan Philippines Singapore Sri Lanka Taiwan Thailand Vietnam  to numeric

GDP Per Capita for all the Countries were displayed and Printed